body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

input, button {
  padding: 10px;
  margin: 5px;
  width: 80%;
  max-width: 300px;
}

button {
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}